<h2 class="heading text-center">Editors</h2>

<h4 class="mt-4">Classic</h4>
<div class="card">
  <div class="card-body">
    <div id="editor"></div>
  </div>
</div>

<h4 class="mt-4">Inline</h4>
<div class="card">
  <div class="card-body">
    <div id="inline-editor">
      <h4>Appreciation of diversity</h4>
      <p>Getting used to an entirely different culture can be challenging. While it’s also nice to learn about cultures online or from books, nothing comes close to experiencing cultural diversity in person. You learn to appreciate each and every single one of the differences while you become more culturally fluid.</p>
    </div>
    <div class="row no-gutters">
      <div class="col-md" id="inline-editor-col1">
        <h4>Improvisation</h4>
        <p>Life doesn't allow us to execute every single plan perfectly. This especially seems to be the case when you travel. You plan it down to every minute with a big checklist; but when it comes to executing it, something always comes up and you’re left with your improvising skills. You learn to adapt as you go. Here’s how my travel checklist looks now:</p>
        <ul>
          <li>buy the ticket</li>
          <li>start your adventure</li>
        </ul>
      </div>
      <div class="col-md" id="inline-editor-col2">
        <h4>Confidence</h4>
        <p>Going to a new place can be quite terrifying. While change and uncertainty makes us scared, traveling teaches us how ridiculous it is to be afraid of something before it happens. The moment you face your fear and see there was nothing to be afraid of, is the moment you discover bliss.</p>
      </div>
    </div>
  </div>
</div>
<p class="d-block text-muted mt-4">for more informtion
  <a href="https://ckeditor.com/ckeditor-5/" target="_blank">ckeditor
    <i class="material-icons" style="font-size: .9rem">launch</i>
  </a>
</p>