

<div class="row mt-4">
    <div class="col-lg">
      <h4>Colored</h4>
      <div class="card">
        <div class="card-body ">
          <div class="text-center">
            <button type="button" class="btn w-25 m-3 btn-primary">Primary</button>
            <button type="button" class="btn w-25 m-3 btn-secondary">Secondary</button>
            <button type="button" class="btn w-25 m-3 btn-success">Success</button>
            <button type="button" class="btn w-25 m-3 btn-danger">Danger</button>
            <button type="button" class="btn w-25 m-3 btn-warning">Warning</button>
            <button type="button" class="btn w-25 m-3 btn-info">Info</button>
            <button type="button" class="btn w-25 m-3 btn-light">Light</button>
            <button type="button" class="btn w-25 m-3 btn-dark">Dark</button>
            <button type="button" class="btn w-25 m-3 btn-link">Link</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg mt-4 mt-md-0">
      <h4>Outline</h4>
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <button type="button" class="btn w-25 m-3 btn-outline-primary">Primary</button>
            <button type="button" class="btn w-25 m-3 btn-outline-secondary">Secondary</button>
            <button type="button" class="btn w-25 m-3 btn-outline-success">Success</button>
            <button type="button" class="btn w-25 m-3 btn-outline-danger">Danger</button>
            <button type="button" class="btn w-25 m-3 btn-outline-warning">Warning</button>
            <button type="button" class="btn w-25 m-3 btn-outline-info">Info</button>
            <button type="button" class="btn w-25 m-3 btn-outline-light">Light</button>
            <button type="button" class="btn w-25 m-3 btn-outline-dark">Dark</button>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="row">
  <div class="col-md-7">
    <h4 class="mt-4">Task : </h4>
    <app-tasks></app-tasks>
    <h4 class="mt-4"> Events : </h4>
    <div class="card">
      <div class="card-body sm-p-0">
        <div id="cal"></div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <h4 class="mt-4">Activity : </h4>
    <div class="card">
      <div class="card-body">
        <div class="activity">
          <div *ngFor="let data of activitys"  class="activity-block">
            <div class="activity-icon"><i class="material-icons">{{data.icon}}</i></div>
            <div class="activity-content card">
              <div class="activity-content-head card-header">{{data.head}}</div>
              <div class="activity-content-body card-body">{{data.body}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h4>Stats : </h4>
<app-stats></app-stats>